section.one {
  background-color: #E0E0E0;
}
section.two {
  background-color: #2196F3;
}
section.three {
 background-color: #FFD5E3;
}
.boxWithHeight {
  box-sizing: border-box;
  height: 100%;
}
section {
  background-color: #dedede;
}